<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MID</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <a href="/">
            Home
        </a>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <h1>MineIntoTheDeep</h1>
    </footer>
</body>
</html>
