@page
@model ConnectionModel
@{
    ViewData["Title"] = "Connection";
}

<div class="fonctions">
    <form method="POST">
        <input type="text" id="text" asp-for="Name" maxlength="50" placeholder="Pseudo" />  
        <input type="Submit" id="button" asp-for="Button" value="Nouveau joueur" />  
    </form>

    <form method="POST">
        <input type="submit" id="button" asp-for="Button" value="Start" />
        <input type="submit" id="button" asp-for="Button" value="Start avec temps" />
    </form>
</div>

<div class="joueurs">
    @if (Model.Joueurs != null) {
        foreach (Joueur joueur in Model.Joueurs) {
            @await Html.PartialAsync("_Joueur", joueur)
        }
    }
</div>


@if (Model.Message != null) {
    <div class="erreur">
        @Model.Message
    </div>
}

<script>
    sessionStorage.setItem("GameId", "@Model.GameId.ToString()");
</script>
