@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="POST">
    <input type="number" id="number" asp-for="Seed" placeholder="Seed" />
    <input type="number" id="number" asp-for="NbOfPlayer" placeholder="Nombre de joueurs" />
    <input type="submit" id="button" asp-for="Button" value="Nouvelle partie" />
</form>

<form method="POST">
    <select id="select" asp-for="GameSelected">
        @foreach (Guid id in Model.Games) {
            <option value="@id">@id</option>
        }
    </select>
    <input type="submit" id="button" asp-for="Button" value="Charger une partie" />
</form>

@Model.Message

